@{
    ViewBag.Title = "eBit - Survey Information Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SurveyID = (int)ViewData["SurveyID"];
    
}
<style type="text/css">

    .table-editable { position: relative; .glyphicon;
    { font-size: 20px; }
    }

    .table-remove { color: #700; cursor: pointer; &:hover;
    { color: #f00; }
    }

    .table-up, .table-down { color: #007; cursor: pointer; &:hover;
    { color: #00f; }
    }

    .table-add { color: #070; cursor: pointer; position: absolute; top: 8px; right: 0; &:hover;
    { color: #0b0; }}
    
</style>
<h2>Survey Information Editor</h2>
<select id="ddlsurvey" onchange="location.href='/Settings/SurveyEditor/?SurveyID='+this.value;">
    @foreach(System.Data.DataRow dr in SurveyApp.DataHelper.SurveyGetAll().Tables[0].Rows) { 
        <option value="@dr["ID"]" @(SurveyID==(int)dr["ID"]?"selected='selected'":"")>@dr["Title"]</option>
    }
</select>


<div class="abc"> 
  
  <div id="table" class="table-editable">
    <span class="table-add glyphicon glyphicon-plus">Add</span>
    <table class="table" style="width:100%;">
      <tr style="font-size:12px;"> 
          <th>ID</th>
          <th>PID</th>
          <th>Seq</th>
          <th>PAnswerLike</th>
          <th>SurveyID</th>
          <th>QuestionGroup</th>
          <th>Question</th>
          <th>PossibleAnswers</th>
          <th>InputType</th>
          <th>Style</th>
          
        <th style="width:40px;"></th>
        <th style="width:60px;"></th>
      </tr>
       @foreach (System.Data.DataRow dr in SurveyApp.DataHelper.QuestionGetbySurveyID(SurveyID).Tables[0].Rows) { 
      <tr>
          <td contenteditable="">@dr["ID"]</td>
          <td contenteditable="true">@dr["PID"]</td>
          <td contenteditable="true">@dr["Seq"]</td>
          <td contenteditable="true">@dr["PAnswerLike"]</td>
          <td contenteditable="true">@dr["SurveyID"]</td>
          <td contenteditable="true">@dr["QuestionGroup"]</td>
          <td contenteditable="true">@dr["Question"]</td>
          <td contenteditable="true">@dr["PossibleAnswers"]</td>
          <td contenteditable="true">@dr["InputType"]</td>
          <td contenteditable="true">@dr["Style"]</td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove">X</span>
        </td>
        <td>
          <nobr><span class="table-up glyphicon glyphicon-arrow-up">Up</span> |
          <span class="table-down glyphicon glyphicon-arrow-down">Down</span></nobr>
        </td>
      </tr>
       }
      <!-- This is our clonable table line -->
      <tr class="hide">
          <td></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove">X</span>
        </td>
        <td>
          <nobr><span class="table-up glyphicon glyphicon-arrow-up">Up</span> |
          <span class="table-down glyphicon glyphicon-arrow-down">Down</span></nobr>
        </td>
      </tr>
    </table>
  </div>
  
  <button id="export-btn" class="btn btn-primary">Export Data</button>
  <p id="export"></p>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () { 
        var $TABLE = $('#table');
        var $BTN = $('#export-btn');
        var $EXPORT = $('#export');

        $('.table-add').click(function () {
          var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
          $TABLE.find('table').append($clone);
        });

        $('.table-remove').click(function () {
          $(this).parents('tr').detach();
        });

        $('.table-up').click(function () {
          var $row = $(this).parents('tr');
          if ($row.index() === 1) return; // Don't go above the header
          $row.prev().before($row.get(0));
        });

        $('.table-down').click(function () {
          var $row = $(this).parents('tr');
          $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.click(function () {
          var $rows = $TABLE.find('tr:not(:hidden)');
          var headers = [];
          var data = [];
  
          // Get the headers (add special header logic here)
          $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
          });
  
          // Turn all existing rows into a loopable array
          $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};
    
            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
              h[header] = $td.eq(i).text();   
            });
    
            data.push(h);
          });
  
          // Output the result
          $EXPORT.text(JSON.stringify(data));
        });
            });
    </script>
    }