@using System.Data;
@{
    ViewBag.Title = "eBit - School Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet ds = SurveyApp.DataHelper.SchoolGetAll(WebSecurity.CurrentUserId);
}

<script type="text/javascript">
    $(function () {
        $("#tblSchools").DataTable({ dom: 'Bfrtip', buttons: [{ extend: 'excel', text: "Export to Excel", title: 'Shools_List', exportOptions: {  modifier: { search: 'none', order: 'original' }} }], "oLanguage": { "sInfo": "Displaying _START_ to _END_ of _TOTAL_ Schools" } });
    });
</script>
<div>
    <h2 class="col-sm-11" style="margin: 0px;padding: 0px;">School Manager</h2>
    <a href="@Url.Action("SchoolAddEdit", "School")" class="btn btn-default" style="float:right;"><i class="fa fa-graduation-cap"></i>&nbsp;Add School</a>
    @*@Html.ActionLink("Add School", "SchoolAddEdit", "School", new object { }, new { @class = "btn btn-default", style = "float:right;" })*@
</div>
<div style="clear:both;"></div>
<br />
<style>
    .table-hover tbody tr{cursor:pointer;}
    #tblSchools .name{text-transform:capitalize;}
</style>
<table class="table table-striped table-hover" id="tblSchools">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th>Children</th>
            <th>Teachers</th>
            <th style="width: 50px;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
        {
            <tr onclick="location.href = '@Url.Action("SchoolAddEdit", "School", new { id = dr["SchoolId"] })';">
                <td class="name">@dr["Name"]</td>
                <td>@dr["Children"]</td>
                <td>@dr["Teachers"]</td>
                <td style="text-align: center;vertical-align:middle;"><a href="javascript:void(0);" class="redCross" onclick="event.stopPropagation();deleteListItem(this, @dr["SchoolId"], 'school', '@dr["Name"]', function(){ location.href = location.href; });"><i class="ion-close"></i></a></td>
            </tr>
        }
    </tbody>
</table>