@using SurveyApp.Models;
@using System.Data;

@{
    int studyId = Model == null ? 0 : Convert.ToInt32(Model);
    int Children = 0;
    dsReaction = SurveyApp.DataHelper.DashboardGetSurveyQAInfo(28); //Adverse Reaction Survey

    if(dsReaction != null && dsReaction.Tables != null && dsReaction.Tables.Count > 0)
    {
        Children = dsReaction.Tables[0].Rows.Count;        
    }
}

@functions{
    DataSet dsReaction;

    public string getChildInfo(int childId, int sequence, string type = "")
    {
        string result = "-";
        if(dsReaction.Tables.Count > 1)
        {
            DataRow[] drInfo = dsReaction.Tables[1].Select("ChildID = " + childId + " AND Seq = " + sequence);
            if (drInfo.Length > 0)
            {
                foreach (DataRow dr in drInfo)
                {
                    if(sequence == 1)
                    {
                        if(type == "c")
                        {
                            result = dr["ChildName"] != DBNull.Value ? dr["ChildName"].ToString() : "";
                        }
                        else if (type == "p")
                        {
                            result = dr["ChildName"] != DBNull.Value ? dr["ParentName"].ToString() : "";
                        }
                        else if (type == "pe")
                        {
                            result = dr["ParentEmail"] != DBNull.Value ? dr["ParentEmail"].ToString() : "";
                        }
                    }
                    else
                    {
                        result = dr["Answers"] != DBNull.Value ? dr["Answers"].ToString() : "";
                    }
                }
            }
        }

        return result;
    }
}

<style type="text/css">
    
</style>

<div class="adverseReaction">
    <h3>Adverse Reaction</h3>

    <div class="info" style="border:solid 1px #CCC;padding: 6px;background-color: #FFF;">
        <table id="tblAdverse" cellpadding="0" cellspacing="0" style="width:100%;" class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Child Name</td>
                    <td>Reaction</td>
                    <td>Reaction Date</td>
                    <td>Resolve Date</td>

                    <td>Medication</td>
                    <td>Med. Start Date</td>
                    <td>Med. End Date</td>
                    <td>Parent</td>
                    <td>Parent Email</td>
                </tr>
            </thead>
            <tbody>
                @if(Children > 0)
                {
                    foreach (DataRow dr in dsReaction.Tables[0].Rows)
                    {
                        <tr>
                            <td>@getChildInfo((int)dr["ChildID"], 1, "c")</td>
                            <td>@getChildInfo((int)dr["ChildID"], 2)</td>
                            <td>@getChildInfo((int)dr["ChildID"], 3)</td>
                            <td>@getChildInfo((int)dr["ChildID"], 4)</td>

                            <td>@getChildInfo((int)dr["ChildID"], 6)</td>
                            <td>@getChildInfo((int)dr["ChildID"], 7)</td>
                            <td>@getChildInfo((int)dr["ChildID"], 8)</td>
                            <td>@getChildInfo((int)dr["ChildID"], 1, "p")</td>
                            <td>@getChildInfo((int)dr["ChildID"], 1, "pe")</td>
                        </tr>
                    }
                }                
            </tbody>
        </table>
    </div>
    
</div>

<script type="text/javascript">
    $(function () {
        $("#tblAdverse").DataTable({ searching: false, paging: false, lengthChange: false, info: false });
    });
</script>

