@using SurveyApp.Models;
@{
    ViewBag.Title = "eBit - Question Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int surveyId = string.IsNullOrEmpty(Request.QueryString["surveyId"]) == false ? Convert.ToInt32(Request.QueryString["surveyId"]) : 0;


    int index = 0;
    List<PossibleAnswer> lstPA = new List<PossibleAnswer>();
    if (string.IsNullOrEmpty(Model.PossibleAnswers) == false)
    {
        foreach (var pa in Model.PossibleAnswers.Split('|'))
        {
            string score = "";
            if (Model.Score != null)
            {
                score = Model.Score.Split('|')[index].ToString();
                index++;
            }

            lstPA.Add(new PossibleAnswer() { Answer = pa, Score = score });
        }
    }
}

@model SurveyApp.Models.SurveyQuestion


<h2>
    <a href="javascript:void(0);" id="back" class="btnBack" title="Back to Questions List" data-toggle="tooltip"></a> &nbsp;Question Editor
</h2>

<style>
    ._panel {
        background: #fafafa;
        border: solid 1px #cccccc;
        padding: 10px;
        border-radius: 6px;
    }

    .possibleAnswers {
        background-color: #f9f9f9;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
    }

        .possibleAnswers .answer .key,
        .possibleAnswers .answer .value {
            display: inline-block;
        }

            .possibleAnswers .answer .value a i {
                margin: 12px 0px;
                color: #b10808;
            }

    .addAnswer {
        color: #337ab7 !important;
        text-decoration: underline;
        padding: 4px;
        display: inline-block;
        margin-left: 27px;
    }
    textarea.input-validation-error {
        border: 1px solid #e80c4d;
    }
</style>
<br />

@using (Html.BeginForm("SurveyQuestionAddEdit", "Survey", FormMethod.Post, new { style = "width:800px;", @class = "form-horizontal" }))
{
    <div id="divErrors" class="validation-summary-errors" style="display:none;">
        <ul><li>Please provide required information below before savings your changes.</li></ul>
        <br />
    </div>
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.ID, new { name = "hdnQuestionId", value = Model.ID })
    @Html.HiddenFor(m => m.PossibleAnswers, new { value = Model.PossibleAnswers })
    @Html.HiddenFor(m => m.Score, new { value = Model.Score })
    @Html.HiddenFor(m => m.Section, new { value = Model.Section })
    @Html.HiddenFor(m => m.Style, new { value = Model.Style })
    @Html.HiddenFor(m => m.Qclass, new { value = Model.Qclass })
    @Html.HiddenFor(m => m.Aclass, new { value = Model.Aclass })
    @Html.HiddenFor(m => m.SurveyID, new { value = Model.SurveyID })


    <div class="form-group">
        <label class="control-label col-sm-4">Question:*</label>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Question, new { id = "txtQuestion", @class = "form-control", placeholder = "Question", @maxlength = "1000", @style = "height:240px" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-4">Question Header Information:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.QuestionGroup, new { id = "txtQuestionGroup", @class = "form-control", placeholder = "Question Header Information", @maxlength = "1000" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-4" data-toggle="tooltip" title="Order of the question at which position it will appear in the questionnaire.">Question Order:*</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Seq, new { id = "txtSeq", @class = "form-control", placeholder = "Sequence", @maxlength = "100" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-4">Question Type:*</label>
        <div class="col-sm-8">
            <select id="ddlQuestionType" class="form-control" onchange="removeError(this);">
                <option value="">Select Question Type</option>
                <option value="col" @(Model.Style == "col" ? "selected='select'" : "")>Column</option>
                <option value="row" @(Model.Style == "row" ? "selected='select'" : "")>Single Line</option>
                <option value="multirow" @(Model.Style == "multirow" ? "selected='select'" : "")>Multiline</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4">Answer Option Type:*</label>
        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.InputType, new SelectList(Question_InputType.getInputTypes(), "Id", "Type"), "Select Answer Option Type", new { id = "ddlInputType", @class = "form-control", onchange = "setPossibleAnswers(this);" })
        </div>
    </div>


    <div class="form-group" id="divPossibleAnswers">
        <label class="control-label col-sm-4">Possible Answers:</label>
        <div class="col-sm-8">
            <div class="possibleAnswers col-sm-12" style="@(Model.InputType == "radio" || Model.InputType == "checkbox" || Model.InputType == "select" ? "" : "displa:none;")">
                @foreach (PossibleAnswer objPA in lstPA)
                {
                    <div class="answer">
                        <div class="key col-sm-10">
                            <input type="text" style="margin-bottom:4px;width:45%;" class="form-control col-sm-5 pa" value="@objPA.Answer" placeholder="Answer" />
                            <input type="text" style="margin-bottom:4px;margin-left: 4px;width:45%;" class="form-control col-sm-5 score" value="@objPA.Score" placeholder="Score" />
                        </div>
                        <div class="value col-sm-2">
                            <a href="javascript:void(0);" data-toggle="tooltip" title="Remove Answer" onclick="removeAnswer(this);"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                }
            </div>
            <div style="clear:both;"></div>
            <a href="javascript:void(0);" onclick="addAnswer(this);" class="addAnswer" data-toggle="tooltip" title="Add New Answer">Add Answer</a>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4">Questionnaire Section:</label>
        <div class="col-sm-8">
            <select id="ddlSection" class="form-control">
                <option value="">Select Questionnaire Section</option>
                @foreach (System.Data.DataRow dr in SurveyApp.DataHelper.SurveyQuestion_GetSurveySections(surveyId).Tables[0].Rows)
                {
                    <option value="@dr["Section"]" @(dr["Section"].ToString() == Model.Section ? "selected='selected'" : "")>@dr["Section"]</option>
                }
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-4">Question Styling Class:*</label>
        <div class="col-sm-8">
            <select id="ddlQClass" class="form-control" onchange="removeError(this);">
                <option value="">Select Question Styling Class</option>

                <option value="col-sm-1" @(Model.Qclass == "col-sm-1" ? "selected='selected'" : "")>col-sm-1</option>
                <option value="col-sm-1 _center" @(Model.Aclass == "col-sm-1 _center" ? "selected='selected'" : "")>col-sm-1 _center</option>
                <option value="col-sm-1 _vcenter" @(Model.Qclass == "col-sm-1 _vcenter" ? "selected='selected'" : "")>col-sm-1 _vcenter</option>

                <option value="col-sm-1-5" @(Model.Qclass == "col-sm-1-5" ? "selected='selected'" : "")>col-sm-1-5</option>
                <option value="col-sm-1-5 _vcenter" @(Model.Qclass == "col-sm-1-5 _vcenter" ? "selected='selected'" : "")>col-sm-1-5 _vcenter</option>

                <option value="col-sm-2" @(Model.Qclass == "col-sm-2" ? "selected='selected'" : "")>col-sm-2</option>
                <option value="col-sm-2 _vcenter" @(Model.Qclass == "col-sm-2 _vcenter" ? "selected='selected'" : "")>col-sm-2 _vcenter</option>

                <option value="col-sm-3" @(Model.Qclass == "col-sm-3" ? "selected='selected'" : "")>col-sm-3</option>
                <option value="col-sm-3 _vcenter" @(Model.Qclass == "col-sm-3 _vcenter" ? "selected='selected'" : "")>col-sm-3 _vcenter</option>

                <option value="col-sm-4" @(Model.Qclass == "col-sm-4" ? "selected='selected'" : "")>col-sm-4</option>
                <option value="col-sm-4 _vcenter" @(Model.Qclass == "col-sm-4 _vcenter" ? "selected='selected'" : "")>col-sm-4 _vcenter</option>

                <option value="col-sm-5" @(Model.Qclass == "col-sm-5" ? "selected='selected'" : "")>col-sm-5</option>
                <option value="col-sm-5 _vcenter" @(Model.Qclass == "col-sm-5 _vcenter" ? "selected='selected'" : "")>col-sm-5 _vcenter</option>

                <option value="col-sm-6" @(Model.Qclass == "col-sm-6" ? "selected='selected'" : "")>col-sm-6</option>
                <option value="col-sm-6 _vcenter" @(Model.Qclass == "col-sm-6 _vcenter" ? "selected='selected'" : "")>col-sm-6 _vcenter</option>
                <option value="col-sm-6 subquestion" @(Model.Qclass == "col-sm-6 subquestion" ? "selected='selected'" : "")>col-sm-6 subquestion</option>

                <option value="col-sm-7" @(Model.Qclass == "col-sm-7" ? "selected='selected'" : "")>col-sm-7</option>
                <option value="col-sm-7 _vcenter" @(Model.Qclass == "col-sm-7 _vcenter" ? "selected='selected'" : "")>col-sm-7 _vcenter</option>

                <option value="col-sm-8" @(Model.Qclass == "col-sm-8" ? "selected='selected'" : "")>col-sm-8</option>
                <option value="col-sm-8 _vcenter" @(Model.Qclass == "col-sm-8 _vcenter" ? "selected='selected'" : "")>col-sm-8 _vcenter</option>

                <option value="col-sm-9" @(Model.Qclass == "col-sm-9" ? "selected='selected'" : "")>col-sm-9</option>
                <option value="col-sm-9 _vcenter" @(Model.Qclass == "col-sm-9 _vcenter" ? "selected='selected'" : "")>col-sm-9 _vcenter</option>

                <option value="col-sm-10" @(Model.Qclass == "col-sm-10" ? "selected='selected'" : "")>col-sm-10</option>
                <option value="col-sm-10 _vcenter" @(Model.Qclass == "col-sm-10 _vcenter" ? "selected='selected'" : "")>col-sm-10 _vcenter</option>

                <option value="col-sm-12" @(Model.Qclass == "col-sm-12" ? "selected='selected'" : "")>col-sm-12</option>
                <option value="col-sm-12 _vcenter" @(Model.Qclass == "col-sm-12 _vcenter" ? "selected='selected'" : "")>col-sm-12 _vcenter</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4">Answer Styling Class:*</label>
        <div class="col-sm-8">
            <select id="ddlAClass" class="form-control" onchange="removeError(this);">
                <option value="">Select Answer Styling Class</option>

                <option value="col-sm-1" @(Model.Qclass == "col-sm-1" ? "selected='selected'" : "")>col-sm-1</option>
                <option value="col-sm-1 _center" @(Model.Aclass == "col-sm-1 _center" ? "selected='selected'" : "")>col-sm-1 _center</option>
                <option value="col-sm-1 _vcenter" @(Model.Qclass == "col-sm-1 _vcenter" ? "selected='selected'" : "")>col-sm-1 _vcenter</option>

                <option value="col-sm-1-5" @(Model.Qclass == "col-sm-1-5" ? "selected='selected'" : "")>col-sm-1-5</option>
                <option value="col-sm-1-5 _vcenter" @(Model.Qclass == "col-sm-1-5 _vcenter" ? "selected='selected'" : "")>col-sm-1-5 _vcenter</option>
                <option value="col-sm-1-5 _center" @(Model.Qclass == "col-sm-1-5 _center" ? "selected='selected'" : "")>col-sm-1-5 _center</option>

                <option value="col-sm-2" @(Model.Qclass == "col-sm-2" ? "selected='selected'" : "")>col-sm-2</option>
                <option value="col-sm-2 _vcenter" @(Model.Qclass == "col-sm-2 _vcenter" ? "selected='selected'" : "")>col-sm-2 _vcenter</option>
                <option value="col-sm-2 subanswer" @(Model.Aclass == "col-sm-2 subanswer" ? "selected='selected'" : "")>col-sm-2 subanswer</option>

                <option value="col-sm-3" @(Model.Qclass == "col-sm-3" ? "selected='selected'" : "")>col-sm-3</option>
                <option value="col-sm-3 _vcenter" @(Model.Qclass == "col-sm-3 _vcenter" ? "selected='selected'" : "")>col-sm-3 _vcenter</option>

                <option value="col-sm-4" @(Model.Qclass == "col-sm-4" ? "selected='selected'" : "")>col-sm-4</option>
                <option value="col-sm-4 _vcenter" @(Model.Qclass == "col-sm-4 _vcenter" ? "selected='selected'" : "")>col-sm-4 _vcenter</option>

                <option value="col-sm-5" @(Model.Qclass == "col-sm-5" ? "selected='selected'" : "")>col-sm-5</option>
                <option value="col-sm-5 _vcenter" @(Model.Qclass == "col-sm-5 _vcenter" ? "selected='selected'" : "")>col-sm-5 _vcenter</option>

                <option value="col-sm-6" @(Model.Qclass == "col-sm-6" ? "selected='selected'" : "")>col-sm-6</option>
                <option value="col-sm-6 _vcenter" @(Model.Qclass == "col-sm-6 _vcenter" ? "selected='selected'" : "")>col-sm-6 _vcenter</option>
                <option value="col-sm-6 subquestion" @(Model.Qclass == "col-sm-6 subquestion" ? "selected='selected'" : "")>col-sm-6 subquestion</option>

                <option value="col-sm-7" @(Model.Qclass == "col-sm-7" ? "selected='selected'" : "")>col-sm-7</option>
                <option value="col-sm-7 _vcenter" @(Model.Qclass == "col-sm-7 _vcenter" ? "selected='selected'" : "")>col-sm-7 _vcenter</option>

                <option value="col-sm-8" @(Model.Qclass == "col-sm-8" ? "selected='selected'" : "")>col-sm-8</option>
                <option value="col-sm-8 _vcenter" @(Model.Qclass == "col-sm-8 _vcenter" ? "selected='selected'" : "")>col-sm-8 _vcenter</option>

                <option value="col-sm-9" @(Model.Qclass == "col-sm-9" ? "selected='selected'" : "")>col-sm-9</option>
                <option value="col-sm-9 _vcenter" @(Model.Qclass == "col-sm-9 _vcenter" ? "selected='selected'" : "")>col-sm-9 _vcenter</option>

                <option value="col-sm-10" @(Model.Qclass == "col-sm-10" ? "selected='selected'" : "")>col-sm-10</option>
                <option value="col-sm-10 _vcenter" @(Model.Qclass == "col-sm-10 _vcenter" ? "selected='selected'" : "")>col-sm-10 _vcenter</option>

                <option value="col-sm-12" @(Model.Qclass == "col-sm-12" ? "selected='selected'" : "")>col-sm-12</option>
                <option value="col-sm-12 _vcenter" @(Model.Qclass == "col-sm-12 _vcenter" ? "selected='selected'" : "")>col-sm-12 _vcenter</option>
                <option value="col-sm-12 _left" @(Model.Aclass == "col-sm-12 _left" ? "selected='selected'" : "")>col-sm-12 _left</option>


            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-4"> </label>
        <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px;">
            <button type="submit" id="btnSaveSurveyQuestion" class="btn btn-default">Save Information</button>
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("SurveyQuestionList", "Survey")?surveyId=@surveyId';">Cancel</button>
        </div>
    </div>
}

<script type="text/javascript">
        $(function () {

            setPossibleAnswers($("#ddlInputType"));

            $("#btnSaveSurveyQuestion").click(function () {
                $("#divErrors").hide();
                var possibleAnswers = "", scores = "";

                $(".possibleAnswers .answer").each(function (index, obj) {
                    var pa = $(obj).find(".pa").val();
                    if (pa != "") {
                        possibleAnswers += pa + "|";
                    }

                    var score = $(obj).find(".score").val();
                    if (score != "") {
                        scores += score + "|";
                    }
                });

                possibleAnswers = possibleAnswers.substring(0, possibleAnswers.length - 1);
                scores = scores.substring(0, scores.length - 1);

                $("#PossibleAnswers").val(possibleAnswers == null ? "" : possibleAnswers);
                $("#Score").val(scores);


                //form validation
                var inError = false;
                var qClass = $("#ddlQClass").val();
                var aClass = $("#ddlAClass").val();
                var style = $("#ddlQuestionType").val();
                var input = $("#ddlInputType").val();
                var question = $("#txtQuestion").val();
                var sequence = $("#txtSeq").val();
                
                if (qClass == "") {
                    //$("#ddlQclass").addClass("input-validation-error");
                    $("#ddlQClass").addClass("input-validation-error");
                    inError = true;
                }
                if (aClass == "") {
                    //$("#txtAclass").addClass("input-validation-error");
                    //$("#ddlAclass").addClass("input-validation-error");
                    $("#ddlAClass").addClass("input-validation-error");
                    inError = true;
                }
                if (style == "") {
                    $("#ddlQuestionType").addClass("input-validation-error");
                    inError = true;
                }
                if (input == "") {
                    $("#ddlInputType").addClass("input-validation-error");
                    inError = true;
                }
                if (question == "") {
                    $("#txtQuestion").addClass("input-validation-error");
                    inError = true;
                }
                if (sequence == "") {
                    $("#txtSeq").addClass("input-validation-error");
                    inError = true;
                }

                if (inError) {
                    $("#divErrors").show();
                    return false;
                }

                $("#Section").val($("#ddlSection").val());
                $("#Style").val($("#ddlQuestionType").val());
                $("#Qclass").val($("#ddlQClass").val());
                $("#Aclass").val($("#ddlAClass").val());
                $("#SurveyID").val(@(Model.SurveyID <= 0 ? surveyId : Model.SurveyID));

            });

        $(".btnBack").click(function(){
            bootbox.dialog({
                message: "Would you like to save the changes?",
                title: "Save Changes!",
                closeButton: false,
                onEscape: function() {
                    location.href = "@Url.Action("SurveyQuestionList", "Survey")?surveyId=@surveyId";
                },
                buttons: {
                    success: {
                        label: "Yes",
                        className: "btn-primary",
                        callback: function () {
                            $("#btnSaveSurveyQuestion").click();
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-default",
                        callback: function() {
                            location.href = "@Url.Action("SurveyQuestionList", "Survey")?surveyId=@surveyId";
                        }
                    }
                }
            });
        });
    });

    $('[data-toggle="tooltip"]').tooltip({
        track: true,
        content: function () {
            return $(this).attr('title').replace(/_NEWLINE_/g, "<br/>");
        },
    });

    function removeAnswer(elem) {
        $(elem).closest(".answer").remove();
    }

    function addAnswer(elem) {
        $(".possibleAnswers").append('<div class="answer"><div class="key col-sm-10"><input type="text" style="margin-bottom:4px;width:45%;" class="form-control col-sm-5 pa" value="" placeholder="Answer" /><input type="text" style="margin-bottom:4px;margin-left: 4px;width:45%;" class="form-control col-sm-5 score" value="" placeholder="Score" /></div><div class="value col-sm-2"><a href="javascript:void(0);" onclick="removeAnswer(this);"><i class="fa fa-close"></i></a></div></div>');
        $(".possibleAnswers .answer").last().find(".pa").focus();
    }

    function setPossibleAnswers(elem) {
        if ($(elem).val() == "radio" || $(elem).val() == "checkbox" || $(elem).val() == "select") {
            $("#divPossibleAnswers").slideDown();
        }
        else {
            $("#divPossibleAnswers").slideUp();
        }
    }

    function removeError(elem) {
        $(elem).removeClass("input-validation-error");
    }

</script>
